h1{
  text-align: center;
}
body{
  background-color: ;
}

.sp{
  color: white;
  font-weight: 600;
}
#cat{ background-image: image(https://www.google.com/search?q=hd+images&tbm=isch&source=iu&ictx=1&fir=BT_qLtNLssuPkM%253A%252CDaFbkMVnWD_KaM%252C_&vet=1&usg=AI4_-kSVOAGI0F3okliGnP8ny0OvedTe8WiIQ&sa=X&=2ahUKEwj197jmx53jAhWDYisKHcZRCHwQ9QEwAHoECAcQBA&biw=1536&bih=754&dpr=1.25#imgrc=BT_qLtNLssuPkM:);
}
